.searchContainer{
    background-color: black;
    align-content: center; 
}

.konteiner2{
    padding-bottom: 10px;
    align-content: center;
    width: 100px;
    
}

.topHeader{
    background-color: black;
    background-image: url(../images/stargazer.svg);
    background-repeat: no-repeat;
    padding: 40px;
}

.Popover1{
    position: fixed;
    left: 80%;
    top: 20px;
}

.searchStyle{
    padding: 40px;
    margin: 20px;
}