/*
A single stylesheet was needed to generate a header with appropriate font and scaling
*/

@font-face {
  font-family: 'SF Distant Galaxy';
  src: url(SFDistantGalaxy.ttf);
}

.titleStyle {
  color: '#303030';
  font-Family: 'SF Distant Galaxy';
  font-size: 3rem;
  size: 'fit';
}
